---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin

$d2coding-font-stack: "D2Coding", "D2Coding ligature", -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI",
  "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
$doc-font-size: 15;
$sans-serif: $d2coding-font-stack;
$global-font-family: $sans-serif;
$header-font-family: $sans-serif;
$caption-font-family: $sans-serif;
$monospace: "D2Coding", "D2Coding ligature", Monaco, Consolas, "Lucida Console", monospace;

@import "minimal-mistakes"; // main partials
